<!--views/pages/index.ejs-->

<!DOCTYPEhtml>
<html lang="en">
<head>
    <% include../partials/head %>
</head>

<body class="container">
    <header>
        <% include../partials/header %>
    </header>
<main>
    <div class="jumbotron">
        <h1>
            Thisisgreat
        </h1>
            <p>
                WelcometotemplatingusingEJS
            </p>
    </div>
</main>
<footer>
    <% include../partials/footer %>
</footer>
</body>
</html>
